@import 'src/styles/variables.scss';

$option-selected-border-color: #aed6f1;

.optionItem {
  border: 3px solid #f2f3f4;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;

  &.isSelected {
    border-color: $option-selected-border-color;
  }
}

.didSubmit {
  .correctMessage,
  .incorrectMessage {
    padding: 1rem 0;
    color: $color-primary;
    border-top: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
  }

  .incorrectMessage {
    color: #e74c3c;
    border-color: #e74c3c;
  }

  .optionItem.isSelected {
    color: white;
    background-color: #e74c3c;
    border-color: #cb4335;
  }

  .optionItem.isCorrectOption,
  .optionItem.isCorrectOption.isSelected {
    color: white;
    background-color: $color-primary;
    border-color: #28b463;
  }
}

.hintBox {
  margin-top: 1rem;
  border-top: 1px solid black;
  padding-top: 0.5rem;

  .hintBoxLabel {
    display: block;
    font-size: 1rem;
    cursor: pointer;
  }
}

.explanationBox {
  padding: 0.8rem 1.2rem;
  background-color: #eafaf1;
  margin-top: 1rem;

  .explanationBoxLabel {
    display: block;
    font-size: 1rem;
  }
}

button.submitBtn {
  width: 100%;
  display: block;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 100px;
  margin-top: 1.5rem;
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    background-color: #222;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #eee;
  }
}
