@import 'src/styles/variables';

.sidebarWrapper {
  font-size: 1.2rem;

  h1 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
  }

  .moduleLinkItem {
    cursor: pointer;
    color: #777;
    font-size: 1.1rem;
    padding: 0.4rem 0;

    &:hover {
      color: #333;
      border-color: #333;
    }

    &.active,
    &.active:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}
