@use 'sass:color';
@import 'src/styles/variables';

.navigationWrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;

  nav.navigation {
    display: flex;
    align-items: center;

    .navItem {
      display: flex;
      align-items: center;
      cursor: pointer;

      .navArrowIcon {
        font-size: 1.6rem;
      }

      .moduleLabel,
      .pageLabel {
        display: block;
        line-height: 1.4;
      }

      .moduleLabel {
        font-size: 1rem;
        letter-spacing: -0.01rem;
        color: #d5d5d5;
      }

      .pageLabel {
        font-size: 1.2rem;
        margin-top: 0.2rem;
      }

      &.navPrev {
        margin-right: 1.5rem;

        .navArrowIcon {
          margin-right: 1rem;
        }
      }

      &.navNext {
        text-align: right;
        margin-left: 1.5rem;

        .navArrowIcon {
          margin-left: 1rem;
        }
      }

      &:hover {
        color: $color-primary;

        .moduleLabel {
          color: color.scale($color-primary, $lightness: 65%);
        }

        .navArrowIcon {
          color: $color-primary;
        }
      }
    }
  }
}
