@import 'src/styles/variables';

.courseModuleNavigationWrapper {
  display: flex;
  margin-bottom: 2rem;

  nav.courseModuleNavigation {
    display: flex;

    .pageLinkItem {
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 10rem;
      margin-right: 0.6rem;
      cursor: pointer;

      &:hover {
        background-color: white;
      }

      &.active {
        color: white;
        background-color: black;

        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
}
