@import 'src/styles/variables';

.navigationWrapper {
  display: flex;
  margin-bottom: 1rem;

  nav.navigation {
    display: flex;

    .pageLinkItem {
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 10rem;
      margin-right: 1rem;
      cursor: pointer;

      &:hover {
        background-color: white;
        border: 1px solid #e9e9e9;
      }

      &.active {
        color: white;
        background-color: black;
        border: none;

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}
