@use 'sass:color';
@import 'src/styles/variables';

.navigationWrapper {
  margin-top: 5rem;

  nav.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navItem {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-top: 1rem;
      width: 50%;

      .navArrowIcon {
        font-size: 2.2rem;
      }

      .moduleLabel,
      .pageLabel {
        display: block;
        line-height: 1.4;
      }

      .moduleLabel {
        font-size: 1rem;
        letter-spacing: 0;
        color: #d5d5d5;
      }

      .pageLabel {
        font-size: 1.2rem;
        margin-top: 0.2rem;
      }

      &.navPrev {
        margin-right: 1rem;

        .navArrowIcon {
          margin-right: 1rem;
        }
      }

      &.navNext {
        text-align: right;
        justify-content: flex-end;
        margin-left: 1rem;

        .navArrowIcon {
          margin-left: 1rem;
        }
      }

      &:hover {
        color: $color-primary;

        .moduleLabel {
          color: color.scale($color-primary, $lightness: 50%);
        }

        .navArrowIcon {
          color: $color-primary;
        }
      }
    }

    .spacer {
      flex-grow: 1;
    }
  }
}
