/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 16px;
  right: 22px;
  padding: 5px;

  button {
    outline: none;

    &:focus {
      border-bottom: 1px solid #f5f5f5;
    }
  }

  &:hover svg {
    fill: $color-primary;
  }
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  outline: none;
}

/* Individual item */
.menu-item {
  color: #333;
  display: block;
  padding: 0.2rem 0;

  &:hover {
    color: $color-secondary;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
