@import './variables';
@import './grid';
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: $font-sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: $font-sans-serif;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
blockquote,
p {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: -0.04rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
