@import 'src/styles/variables';

.courseModule {
  p {
    margin-top: 0;
  }

  .courseInfo {
    span {
    }

    h2 {
      margin-top: 0;
      font-size: 3rem;
      font-weight: 300;
    }
  }
}

.moduleLink {
  display: block;
  padding: 0.5rem 0;
  border-top: 1px solid #eee;
  color: #333;

  &:hover {
    color: $color-primary;
    border-color: $color-primary;
  }

  &.isActive {
    color: $color-primary;
    border-color: $color-primary;
  }
}
