@use 'sass:color';
@import 'src/styles/variables';

$border-color: #e8e8e8;

.questionHeader {
  display: flex;
  align-items: center;
  color: $color-primary;
  font-size: 1rem;
  letter-spacing: 0;

  .reactIcon {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-left: 0.1rem;
  }
}

.questionText {
  margin-top: 0rem;
}

.codeEditorWrapper {
  margin-top: 1.5rem;
  border: 1px solid $border-color;

  .editorBox {
    padding: 0.8rem 1.1rem;
  }

  .commandBox {
    display: flex;
    margin-top: 1px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    align-items: center;
    justify-content: space-between;

    .hintButton {
      color: #777;
      font-size: 1.05rem;

      .reactIcon {
        color: #ddd;
        margin-right: 0.5rem;
      }

      &:hover {
        color: #888;

        .reactIcon {
          color: #888;
        }
      }
    }

    .commandButtons {
      display: flex;
      align-items: center;
    }

    .runCodeButton,
    .submitButton {
      display: inline-flex;
      align-items: center;
      color: white;
      font-size: 1rem;
      line-height: 1.4rem;
      font-weight: 300;
      letter-spacing: 0;
      padding: 0.6rem 1.3rem;
      border-radius: 10rem;

      .reactIcon {
        margin-right: 0.5rem;
      }
    }

    .runCodeButton {
      background-color: $color-secondary;
      border: 1px solid color.scale($color-secondary, $lightness: -7%);

      &:hover {
        background-color: color.scale($color-secondary, $lightness: 3%);
      }
    }

    .submitButton {
      background-color: $color-primary;
      margin-left: 0.8rem;
      border: 1px solid color.scale($color-primary, $lightness: -7%);

      &:hover {
        background-color: color.scale($color-primary, $lightness: 3%);
      }

      .reactIcon {
        font-size: 1.3rem;
        transform: rotate(180deg);
      }
    }
  }

  .boxLabel {
    font-size: 1rem;
  }

  .hintBox {
    display: flex;
    border-bottom: 1px solid $border-color;
    align-items: center;
    justify-content: center;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    font-size: 1.1rem;
    color: color.scale(#d2e1dd, $lightness: -10%, $saturation: 10%);

    .boxLabel {
      color: $color-secondary;
    }

    img.hintCharacterImage {
      width: 5rem;
      margin-right: 1rem;
    }
  }

  .outputBox,
  .errorOutputBox {
    letter-spacing: 0;

    pre {
      margin: 0;
    }
  }

  .outputBox {
    border-bottom: 1px solid $border-color;

    .boxLabel {
      color: $color-secondary;
    }
  }

  .errorOutputBox {
    .boxLabel {
      color: $color-tertiary;
    }
  }
}
