@use 'sass:color';
@import 'src/styles/variables';

$border-color: #e8e8e8;

.pythonCodingQuestionWrapper {
  .questionHeader {
    display: flex;
    align-items: center;
    color: $color-primary;
    font-size: 1rem;
    letter-spacing: 0;

    .reactIcon {
      display: inline-block;
      position: relative;
      top: 1px;
      margin-left: 0.1rem;
    }
  }

  .questionText {
    margin-top: 0;
  }

  .codeEditorWrapper {
    margin-top: 1.5rem;
    border: 1px solid $border-color;

    .editorBox {
      padding: 0.8rem 1.1rem;
    }

    .commandBox {
      display: flex;
      margin-top: 1px;
      border-top: 1px solid $border-color;
      align-items: center;
      justify-content: space-between;

      .hintButton {
        color: #999;
        font-size: 1.05rem;
        letter-spacing: -0.01rem;
        font-weight: 300;

        .hintIcon {
          color: #aaa;
          font-size: 0.95rem;
          margin-right: 0.3rem;
          position: relative;
          top: -0.1rem;
        }

        .toggleIcon {
          margin-left: 0.1rem;
          position: relative;
          top: -0.1rem;
        }

        &:hover {
          color: #777;

          .hintIcon {
            color: #999;
          }
        }

        &.isOpen {
          color: $color-secondary;

          .hintIcon {
            color: $color-secondary;
          }

          &:hover {
            color: color.scale($color-secondary, $lightness: -15%);

            .hintIcon {
              color: color.scale($color-secondary, $lightness: -15%);
            }
          }
        }
      }

      .commandButtons {
        display: flex;
        align-items: center;
      }
    }

    .boxLabel {
      font-size: 1rem;
      letter-spacing: 0;
    }

    .hintBox,
    .resultCheckBox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 2rem;
      margin: 0.3rem;
      font-size: 1.1rem;

      .boxLabel {
        font-size: 0.9rem;
      }

      .imageWrapper {
        width: 5rem;
        margin-right: 1.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }

    .hintBox {
      color: color.scale($color-secondary, $lightness: -60%, $saturation: 20%);
      background-color: color.scale(
        $color-secondary,
        $lightness: 92%,
        $saturation: 10%
      );

      img.characterImage {
        width: 5rem;
      }

      .boxLabel {
        color: $color-secondary;
      }
    }

    .resultCheckBox {
      color: color.scale($color-primary, $lightness: -60%, $saturation: 20%);
      background-color: color.scale(
        $color-primary,
        $lightness: 92%,
        $saturation: 10%
      );

      img.characterImage {
        width: 4rem;
      }

      .boxLabel {
        color: $color-primary;
      }
    }

    .outputBox,
    .errorOutputBox {
      letter-spacing: 0;

      pre {
        margin: 0;
      }
    }

    .outputBox {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

      .boxLabel {
        color: $color-secondary;
      }
    }

    .errorOutputBox {
      .boxLabel {
        color: $color-tertiary;
      }
    }
  }

  button {
    outline: none;
  }
}
