@use 'sass:color';
@import 'src/styles/variables';

a.menuItem {
  color: #111;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;

  .menuIconWrapper {
    margin-right: 0.5rem;
  }

  &:hover {
    color: #333;
  }

  &.active {
    color: $color-primary;

    &:hover {
      color: color.scale($color-primary, $lightness: -15%);
    }
  }
}
