@use 'sass:color';
@import 'src/styles/variables';

.hintBox,
.correctResultBox,
.incorrectResultBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
  margin: 0.3rem;
  font-size: 1.1rem;

  .boxLabel {
    font-size: 0.9rem;
    letter-spacing: 0;
  }

  .imageWrapper {
    width: 5rem;
    margin-right: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.hintBox {
  color: color.scale($color-secondary, $lightness: -60%, $saturation: 20%);
  background-color: color.scale(
    $color-secondary,
    $lightness: 92%,
    $saturation: 10%
  );

  img.characterImage {
    width: 5rem;
  }

  .boxLabel {
    color: $color-secondary;
  }
}

.correctResultBox {
  color: color.scale($color-primary, $lightness: -60%, $saturation: 20%);
  background-color: color.scale(
    $color-primary,
    $lightness: 92%,
    $saturation: 10%
  );

  img.characterImage {
    width: 4rem;
  }

  .boxLabel {
    color: $color-primary;
  }
}

.incorrectResultBox {
  color: color.scale($color-tertiary, $lightness: -60%, $saturation: 20%);
  background-color: color.scale(
    $color-tertiary,
    $lightness: 92%,
    $saturation: 10%
  );

  img.characterImage {
    width: 4.5rem;
  }

  .boxLabel {
    color: $color-tertiary;
  }
}
