@use 'sass:color';
@import 'src/styles/variables';

.courseIndexWrapper {
  h1.pageTitle {
    font-weight: 300;
  }

  .courseItem {
    padding: 1rem 0;
    margin-top: 2rem;

    h2.courseTitle {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .courseInfo {
      margin-bottom: 1rem;
    }

    a.moduleItem {
      display: block;
      cursor: pointer;
      color: $color-primary;
      padding: 0.2rem 0;

      &:hover {
        color: color.scale($color-primary, $lightness: -10%);
      }
    }
  }
}
