@use 'sass:color';
@import 'src/styles/variables';

.courseItem {
  border-top: 1px solid #eee;
  padding: 1rem 0;
}

.courseModuleItem {
  cursor: pointer;
  color: $color-primary;
  padding: 0.4rem 0;

  &:hover {
    color: color.scale($color-primary, $lightness: -10%);
  }
}
